<ion-view view-title="{{event.name}}">
  <ion-content class="padding">
    <p>
      {{event.lastText}}
    </p>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="dude in dudes" type="item-text-wrap" href="#/tab/events/{{chat.id}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
