<ion-view view-title="Login">
  <ion-content class="padding">
    <form ng-submit="view.send()">
      <label class="item item-input">
        <span class="input-label" >Name</span>
        <input type="text" ng-model="view.user.name">
      </label>  
      <label class="item item-input">
        <span class="input-label" >Email</span>
        <input type="email" ng-model="view.user.email">
      </label>
      <label class="item item-input">
        <span class="input-label" >Telephone</span>
        <input type="tel" ng-model="view.user.phone">
      </label>
      <button type="submit"  class="button button-positive">
        Entrar
      </button>
    </form>
  </ion-content>
</ion-view>
