<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Perfil" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Eventos" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter-outline" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Amigos" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Scan" icon-off="ion-qr-scanner" icon-on="ion-qr-scanner" href="#/tab/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>

</ion-tabs>