<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Eventos" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter-outline" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Amigos" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Scan" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>

</ion-tabs>